extends ../layout

block content
  div(id="app")
    input(type='number' v-model="n1")
    input(type='number' v-model="n2")
    p= "El valor de n es {{ Number(n1) + Number(n2) }}"
    
    table
      thead
        tr
          th Nombre
          th Apellido
          th
      tbody
        tr(v-for='actor in actors')
          td {{ actor.name }}
          td {{ actor.lastName }}
    
    
    
    for message in flash
      p= message.message
    h3= cabecera
    table(class='table')
      thead
        tr
          th Nombre
          th Apellido
          th 
            a(class="btn btn-primary" href="/actors/create") Nuevo
      tbody
        each actor in actors.docs
          tr
            td #{actor.name}
            td #{actor.lastName}
            td 
              a(class="btn btn-outline-info" href=`/actors/edit/${actor._id}`)() Editar
              a(class="btn btn-outline-danger" href="#")() Eliminar
    a(class="btn btn-secondary btn-sm" href='/actors/1') <<
    if actors.hasPrevPage
      a(class="btn btn-secondary btn-sm" href=`/actors/${actors.prevPage}`) <
    if actors.hasNextPage
      a(class="btn btn-secondary btn-sm" href=`/actors/${actors.nextPage}`) >
    a(class="btn btn-secondary btn-sm" href=`/actors/${actors.totalPages}`) >>
  
